<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videojuegos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylecat.css"/>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <div class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Catálogo de Videojuegos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/juegos">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registro</a>
                </li>

            </ul>
        </div>
    </div>
</header>

<div class="container mt-4 flex-fill">

    <!-- Título Principal -->
    <h2 class="text-center mb-4">Catálogo de Videojuegos</h2>

    <section class="articles">
        <article th:each="juego : ${juegos}">
            <div class="article-wrapper">
                <figure>
                    <img src="https://picsum.photos/id/1011/800/450" th:src="${juego.imagen}" alt="" />
                </figure>
                <div class="article-body">
                    <h2 th:text="${juego.titulo}"></h2>
                    <a href="#" class="btn btn-primary" data-toggle="modal" th:data-target="'#gameModal_' + ${juego.id}">Ver más detalles</a>

                </div>
            </div>
        </article>
    </section>



    <!-- Modal para detalles del videojuego -->
    <div th:each="juego : ${juegos}">
        <div th:id="'gameModal_' + ${juego.id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${juego.titulo}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Mostrar el video de YouTube embebido -->
                        <div class="embed-responsive embed-responsive-16by9 mb-3">
                            <iframe class="embed-responsive-item" th:src="'https://www.youtube.com/embed/' + ${#strings.substring(juego.video, 17, 28)}" allowfullscreen></iframe>
                        </div>
                        <p><strong>Descripción:</strong> <span th:text="${juego.descripcion}"></span></p>
                        <p><strong>Precio:</strong> $<span th:text="${juego.precio}"></span></p>
                        <p><strong>Requisitos:</strong> <span th:text="${juego.plataforma}"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="factura" class="btn btn-primary">Obtener</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-3 bg-dark text-white mt-auto">
    <div class="container text-center">
        <p>&copy; 2024 Catálogo de Videojuegos. Todos los derechos reservados.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
