<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catálogo de Videojuegos</title>
</head>
<body>
<h1>Catálogo de Videojuegos</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Género</th>
        <th>Plataforma</th>
        <th>Año</th>
        <th>Calificación</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="juego : ${juegos}">
        <td th:text="${juego.nombre}"></td>
        <td th:text="${juego.descripcion}"></td>
        <td th:text="${juego.genero}"></td>
        <td th:text="${juego.plataforma}"></td>
        <td th:text="${juego.anoLanzamiento}"></td>
        <td th:text="${juego.calificacion}"></td>
        <td><a th:href="@{/juego/{id}(id=${juego.id})}">Ver Detalles</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
